<nav class="sticky top-0 w-full bg-black text-white py-6 z-10">
    <div class="flex justify-between max-w-screen-xl mx-auto">
      <div class="flex items-center space-x-28">
        <h2 class="text-2xl">crypto<span class="text-blue-500">X</span></h2>
        <div class="flex space-x-20">
          <a href="/">Cryptocurrencies</a>
          <a href="/">Exchanges</a>
          <a href="/"> NFT</a>
        </div>
      </div>
      <div class="flex items-center space-x-14">
        <a href="/">Login</a>
        <button class="primary">Sign Up</button>
      </div>
    </div>
  </nav>
  